.cart-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    /* Add a pointer cursor to indicate it's clickable */
    padding: 5px;
    /* Optional padding for better clickability */
}